*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
installer/overlays/**/*.py text eol=lf whitespace=-trailing-space,-blank-at-eof
installer/overlays/**/*.json text eol=lf whitespace=-trailing-space,-blank-at-eof
installer/overlays/**/*.rep text eol=lf whitespace=-trailing-space,-blank-at-eof
installer/overlays/**/*.txt text eol=lf whitespace=-trailing-space,-blank-at-eof
installer/overlays/**/*.pickle binary
installer/overlays/** whitespace=-trailing-space,-blank-at-eof
